﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>All Supervisors with s</title>
</head>
<body class="text-center">
    <h4> All Supervisors that have a name that starts with "S":</h4>
    <br />

    <table class="table table-dark table-hover text-center" id="supervisorTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        @foreach (Supervisor sup in Model)
        {
            <tr>
                <td>
                    @sup?.Id
                </td>
                <td>
                    @sup?.Name
                </td>
            </tr>
        }
    </table>
    <br />
</body>
</html>
