﻿body {
    background-color: #343a40;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

#supervisorTable {
    width: 50%;
    margin: auto;

}

#confirmation {
    margin-top: 250px;

}

.input-validation-error {
    text-align: left;
    border: 2px solid red;
}

#validationError {
    text-align: left;
    color: red;
}